__pycache__/
*.py[cod]
*$py.class

.env
.env.*

.venv/
venv/
ENV/
env/
pip-wheel-metadata/

db.sqlite3
*.sqlite3

media/

staticfiles/
collected_static/

*.log

*.cache
.cache/
local_settings.py



.idea/
